<fieldset>
  <br><br>
  <!-- TITLE -->
  <p>
<div class="form-group">
    <label for="review-title">Name</label><br>
    <input class="form-control" id="review-title" type="text" name="name" value="{{charity.name}}"/>
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="review-description">Description</label><br>
    <textarea class="form-control" id="review-description" name="description" rows="20" />{{charity.description}}</textarea>
  </p>

  </div>
</fieldset>