<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="color:white" class="navbar-brand" href="/">
        Charity Manager
      </a>
    </div>
    <div class="pull-right">
      <a style="color:white" href="/charities/new" class="btn navbar-btn">New Charity</a>
    </div>
  </div>
</nav>