<h1>My Charities</h1>
<br>
{{#each charities}}
<div class="col-sm-12">
  <h2>{{ this.name }}</h2>
  <a href="/charities/{{ this._id }}/edit">Edit</a>
  <p>{{ this.description }}</p>
  {{> donation-form }}
</div>

<div id="donations">
  {{#each donations}}
    {{> donation}}
  {{/each}}
</div>
{{/each}}